<div id="border" class="col-md-6 has-text-centered">
    {{{ body }}}
    <h2 id="title">Create Post</h2>

    <form class="form signup-form">
        <div id="spacing" class="form-group">
            <label for="name-signup">auto insert Namme from login:</label>
            <input class="form-input" type="text" id="name-signup" />
        </div>
        <div id="spacing" class="form-group">
            <label for="email-signup">auto insert date from current date:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div id="spacing" class="form-group">
            <label for="password-signup">Discription:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div id="spacing" class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div id="spacing" class="form-group">
            <button class="btn btn-primary" type="submit">View Post</button>
        </div>
    </form>
</div>