{{!-- To see ever users post --}}

  <main id="border" class="container container-fluid mt-5 has-text-centered">
      <!-- Render the sub layout -->
      {{{ body }}}
      <h2 id="opener">Welcome to Bloghub!</h2>
      <div class ="description">Forum for technology!</div>

<div id="add" class="container is-max-desktop has-text-centered">
    <a class="button is-large is-success is-light is-centered" href="/techPost">
            ADD POST
          </a>
  </div>
  <section>
    
  </section>

</main>

